.cgm-nav {
    background-color: $cgm-color-1;
    .cgm-nav-list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        height: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        li {
            width: 98px;
            padding: 48% 0;
            cursor: pointer;
            -webkit-transition: opacity .5s linear;
            -moz-transition: opacity .5s linear;
            -o-transition: opacity .5s linear;
            transition: opacity .5s linear;
            text-align: center;
            opacity: .7;
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 15%;
               -moz-box-flex: 0;
                -ms-flex: 0 0 15%;
                    flex: 0 0 15%;
            position: relative;
            &:hover,
            &.active {
                -webkit-transition: opacity .5s linear;
                -moz-transition: opacity .5s linear;
                -o-transition: opacity .5s linear;
                transition: opacity .5s linear;
                opacity: 1;
            }
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 62%;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                vertical-align: middle;
            }
        }
    }
}
