/*图片路径*/

$cgm-url-1: '../assets/';

/*颜色色系*/


/*主色调*/

$cgm-color-1: #f16622;
$pos-color-1-1: #E32929;

/*背景色*/

$cgm-bg-color-1: #FFFFFF;
$cgm-bg-color-2: #F1F1F1;
$cgm-bg-color-3: #999;
$pos-bg-color-4: #F3B447;
$pos-bg-color-4-1: #F2A215;
$pos-bg-color-5: #EBEAE8;
$pos-bg-color-6: #4EB6E6;
$pos-bg-color-7: #666666;
$pos-bg-color-8: #ECECEC;

/*字体颜色*/

$cgm-font-color-1: #999;
$cgm-font-color-2: #fff;
$cgm-font-color-3: #666;
$cgm-font-color-4: #4ea8ee;
$cgm-font-color-5: #0dbf57;
$cgm-font-color-6: #333;
$cgm-font-color-7: #000;
$pos-font-color-8: #FFFFFF;
$pos-font-color-9: #666666;
$pos-font-color-10: #F58728;
$pos-font-color-11: #ACAAAB;
$pos-font-color-12: #4EB6E6;
$pos-font-color-13: #32CC76;

/*边框颜色*/
$cgm-border-color-1: #CCC;
$cgm-border-color-2: #b5b1ac;
$cgm-border-color-3: #ADAEA9;
$cgm-border-color-4: #666;
$cgm-border-color-5: #999;
$cgm-border-color-6: #fff;
